.ui-autocomplete {
    max-height: 400px;
    max-width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.current {
    background-color: #D4F9D4;
}

.past {
    background-color: lightgray;
}

.legend {
    list-style: none;
}

    .legend li {
        float: left;
        margin-right: 10px;
    }

    .legend span {
        border: 1px solid black;
        float: left;
        width: 15px;
        height: 15px;
        margin: 2px;
    }
    /* your colors */
    .legend .current {
        background-color: #D4F9D4;
    }

    .legend .past {
        background-color: lightgray;
    }

#postcodeImg {
    height: 300px;
    width: 400px;
    border: 1px solid red;
    position: relative;
}