@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style type="text/css">
    body {
        background-image: url('/Images/properties-wallpaper.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>

<div class="row">

    <div class="card col-md-4 offset-md-3 mx-auto">
        <article class="card-body">
            <a class="float-right btn btn-outline-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            <h4 class="card-title mb-4 mt-1">@ViewData["Title"]</h4>
            <form id="account" method="post">
                <div class="form-group">
                    <label>Your email</label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" type="email" value="davestockton84@hotmail.co.uk">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a class="float-right" asp-page="./ForgotPassword">Forgot?</a>
                    <label>Your password</label>
                    <input asp-for="Input.Password" class="form-control" placeholder="******" type="password" value="P@55w0rd1">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                </div>
            </form>
        </article>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    .card{
        margin-top:100px;
    }
</style>