@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style type="text/css">
    body {
        background-image: url('/Images/properties-wallpaper.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
</style>

<div class="row">

    <div class="card col-md-4 offset-md-3 mx-auto">
        <article class="card-body">
            <a class="float-right btn btn-outline-primary" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
            <h4 class="card-title mb-4 mt-1">@ViewData["Title"]</h4>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="form-group">
                    <label>Your email</label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" type="email">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>First Name</label>
                        <input asp-for="Input.FirstName" class="form-control" placeholder="First name" type="text">
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-sm-6">
                        <label>Last Name</label>
                        <input asp-for="Input.LastName" class="form-control" placeholder="Last name" type="text">
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Your password</label>
                    <input asp-for="Input.Password" class="form-control" type="password">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Confirm password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" type="password">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                   
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </article>
    </div>
</div>

<style>
    .card {
        margin-top: 100px;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}