@model Website.Models.DTOs.DocumentTypes.DocumentTypeCreateDto;
    
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Document Type</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Owner" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expires" class="control-label">
                    Expires?
                    <input asp-for="Expires" type="checkbox" />
                    <i title="Whether Documents of this type have an expiry i.e every year" class="material-icons" style="font-size: 15px">help</i>
                </label>
                <span asp-validation-for="Expires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label">
                    Expiry Date
                    <input asp-for="ExpiryDate" type="date" />
                </label>
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/DocumentTypes/DocumentType.js"></script>
}