@model Website.Models.DTOs.Tenants.TenantCreateDTO

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Tenants" asp-action="Create" asp-route-propertyId="Property.Id" id="tenantCreateForm" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(c => c.Property.Portfolio.Id, new { @id = "portfolio_id" })
            @Html.HiddenFor(x => x.Property.Id, new { @id = "property_id" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                        <label class="form-label" asp-for="FirstName"></label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                        <label class="form-label" asp-for="LastName"></label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                        <label class="form-label" asp-for="PhoneNumber"></label>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="JobTitle" class="form-control" placeholder="Start typing..." />
                        <label class="form-label" asp-for="JobTitle"></label>
                        <span asp-validation-for="JobTitle" class="text-danger"></span>
                    </div>
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="EmailAdresss" class="form-control" placeholder="Email Adresss" />
                        <label class="form-label" asp-for="EmailAdresss"></label>
                        <span asp-validation-for="EmailAdresss" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="col"></div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <select asp-for="NationalityId" class="form-select" asp-items="@ViewBag.Nationalities" id="floatingSelect">
                            <option disabled selected>--Please Select--</option>
                        </select>
                        <label asp-for="NationalityId" class="control-label"></label>
                        <span asp-validation-for="NationalityId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="DateOfBirth" class="form-control" placeholder="DoB" />
                        <label class="form-label" asp-for="DateOfBirth"></label>
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="TenancyStartDate" class="form-control" placeholder="DoB" />
                        <label class="form-label" asp-for="TenancyStartDate"></label>
                        <span asp-validation-for="TenancyStartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="TenancyEndDate" class="form-control" placeholder="DoB" />
                        <label class="form-label" asp-for="TenancyEndDate"></label>
                        <span asp-validation-for="TenancyEndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="TenantImage" class="control-label"></label>
                    <input asp-for="TenantImage" type="file" class="form-control" />
                    <span asp-validation-for="TenantImage" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <input class="form-check-input" type="checkbox" asp-for="IsSmoker">
                    <label asp-for="IsSmoker" class="control-label">
                        Smoker?
                        <input asp-for="IsSmoker" type="checkbox" />
                    </label>
                </div>

                <div class="form-group col-md-6">
                    <input class="form-check-input" type="checkbox" asp-for="HasPets">
                    <label asp-for="HasPets" class="control-label">
                        Pets?
                        <input asp-for="HasPets" type="checkbox" />
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/Tenant/jobTitleAutocomplete.js" asp-append-version="true"></script>
     }
}