@model Website.Models.DTOs.Documents.DocumentUploader

    <div class="form-group">
        <label asp-for="Document"></label>
        <input asp-for="Document" class="form-control" accept=".doc,.docx,.xml,.xlsx,.rtf,.pdf,.txt,"/>
    </div>
    <div class="form-group">
        <label asp-for="DocumentType"></label>
        <select asp-for="DocumentType" asp-items="@ViewBag.DocumentTypes" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="ExpiryDate"></label>
        <input asp-for="ExpiryDate" class="form-control" />
    </div>
