@using Website.Models.DTOs.Portfolios
@model PortfolioDetailsDto

<div>
    @Html.HiddenFor(x=> Model.Id, new {@id="portfolio_id"})
    <table id="portfolioIndexTable" style="width:100%;" class="table table-hover">
        <thead>
            <tr>
                <th># Rooms</th>
                <th>PurchaseDate</th>
                <th>Property Value</th>
                <th>Monthly Income</th>
                <th>Description</th>
                <th>Address</th>
                <th>Created On</th>
                <th>Last Updated On</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

<script src="~/js/property/property-datatable.js" asp-append-version="true" defer></script>