@model IEnumerable<Website.Models.PropertyImage>

@*@Html.ActionLink("Add Document", "Create", "PropertyDocuments", new { propertyId = ViewData["PropertyId"] })*@

@if (!Model.Any())
{
    <p>No Images Uploaded for this property.</p>
}
else
{
    <div class="col-md-9 offset-1">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var image in Model)
                {
                    <div class="carousel-item @(image == Model.First() ? "active" : "")">
                        <img src="@image.FilePath" class="d-block w-100" alt="Property Image" style="display: block; width: auto; height: 60vh;">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>

}